<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{nameOrEmail}}</h3>
  </div>
  <div class="panel-body">

      <div class="col-sm-12 control-profile">
        <label class="col-sm-3">Username: </label>
        <div class="col-sm-7">
          {{user.username}}
        </div>
      </div>

      <div class="col-sm-12 control-profile">
        <label class="col-sm-3">Given Name: </label>
        <div class="col-sm-7">
          {{user.firstName}}
        </div>
      </div>

      <div class="col-sm-12 control-profile">
        <label class="col-sm-3">Surname: </label>
        <div class="col-sm-7">
          {{user.lastName}}
        </div>
      </div>

      <div class="col-sm-12 control-profile about-me">
        <label class="col-sm-3">About Me: </label>
        <div class="col-sm-7">
          {{user.bio}}
        </div>
      </div>

  </div>
  <div class="panel-footer text-right">
    {{yield}}
  </div>
</div>
