<div class="col-xs-12 col-sm-12 col-md-12">
  {{collection-show collection=model}}
</div>

{{modal-art collection=model submit="createArt"}}

{{#each model.arts as |art|}}
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="arts">
      {{#link-to "art" art}}
        <img src={{art.smallUrl}}>
      {{/link-to}}
      <p><strong>{{art.title}}</strong> {{art.caption}}</p>
    </div>
  </div>
{{else}}
  <h4>This image collection is empty.</h4>
{{/each}}
