<div class="panel panel-default">
  <div class="cover-image" style={{backgroundImage}}>
      <h1 class="text-right">{{collection.name}}</h1>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <p class="lead">{{collection.desc}} <span class="author">- {{nameOrEmail}}</span></p>
    <div class="text-right button-space-show">
      {{#if isAuthor}}
        {{yield}}
      {{/if}}
    </div>
  </div>
</div>
