<p class="lead">{{art.collection.name}} <span class="author">- {{nameOrEmail}}</span></p>

<div class="panel panel-default image-show">
  <div class="panel-body">
    <img src={{art.image}} class="img-responsive center-block">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-xs-12 col-sm-2 control-label">Title</label>
        <div class="col-xs-12 col-sm-10">
          {{input class="form-control" placeholder="title" type="text" value=art.title}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-12 col-sm-2 control-label">Caption</label>
        <div class="col-xs-12 col-sm-10">
          {{input class="form-control" placeholder="caption" type="text" value=art.caption}}
        </div>
      </div>

      {{!-- <div class="form-group">
        <label class="col-xs-12 col-sm-2 control-label">
          Art Image
        </label>
        <div class="col-xs-12 col-sm-10">
          {{#file-picker
            accept=".jpg,.jpeg,.gif,.png"
            fileLoaded="fileLoaded"
            readAs="readAsDataURL"}}
            <span class="">Drag here or CLICK to upload a file</span>
          {{/file-picker}}
          {{#if file}}
          <span class="">Click on preview to choose a different Image.</span>
          {{/if}}
        </div>
      </div> --}}

      <div class="form-group text-right button-space-update">
        <button class="btn btn-success" {{action 'submit' art}}>
          {{buttonLabel}}
        </button>

        <button class="btn btn-default" {{action 'reset' art}}>
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
