<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{nameOrEmail}}</h3>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">Username</label>
        <div class="col-sm-7">
          {{input class="form-control" placeholder="username" type="text" value=user.username}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Given Name</label>
        <div class="col-sm-7">
          {{input class="form-control" placeholder="given name" type="text" value=user.firstName}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">Surname</label>
        <div class="col-sm-7">
          {{input class="form-control" placeholder="surname" type="text" value=user.lastName}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-3 control-label">About Me</label>
        <div class="col-sm-7">
          {{textarea class="form-control" placeholder="a few words about yourself" rows="3" type="text" value=user.bio}}
        </div>
      </div>
    </div> {{!-- end form-horizontal --}}
  </div>
  <div class="panel-footer text-right button-space">
    <button class="btn btn-success" {{action 'submit' user}}>
      Save changes
    </button>

    <button class="btn btn-default" {{action 'reset' user}}>
      Cancel
    </button>
  </div>
</div>
