<div class="index">
  {{#link-to "collection" collection.id}}
    <img src={{collection.smallUrl}} class="img-responsive">
  {{/link-to}}
  <h4>{{collection.id}} {{collection.name}} <span class="author">by {{collection.user.email}}</span></h4>
  <small>{{collection.desc}}</small>
</div>
